<html>
    <head>

           <link href="/assets/styles.css" rel="stylesheet" type="text/css"/>

    </head>
    <body>
        <!--Partial view / Nested view-->
        <% include partials/nav.ejs %>

        <h1>Contact Page</h1>
        <p>Contact List</p>
        <strong>Department : </strong><p><%= qs.Dept %></p>
        
    </body>
</html>