<html>
    <head>

           <link href="/assets/styles.css" rel="stylesheet" type="text/css"/>

    </head>
    <body>
        <!--Partial view / Nested view-->
        <% include partials/nav.ejs %>

        <h1>Contact Detail</h1>
        <form id="contact-form" method="GET" action="/contactform">
        <p>Who..? :  <%= reqBody.who %></p>
          <p>Department..? :  <%= reqBody.department %></p>

          <input type="submit" name="submit" value="Back"/>
       </form>
        
    </body>
</html>