<html>
    <head>
            <link href="/assets/styles.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <!--Partial view / Nested view-->
        <% include partials/nav.ejs %>

        <h1>Welcome to 1st Node application</h1>
        <p>Hi.. GOOD MORNING....!</p>
        
    </body>
</html>